/* VARIABLES */

$font-logo: 'Dancing Script', cursive;
$font-subtitle: 'Playfair Display', serif;
$font-modern: 'Roboto', sans-serif;

$color-main: #424242;
$color-cta: #ffce30;
$color-light: #fafafa;

$font-size__title: 60px;
$font-size__subtitle: 32px;
$font-size__description: 13px;

/* GLOBAL */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 1440px;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

.section {
	padding: 80px 0;
}

.container {
	margin: 0 auto;
	width: 70%;
}

.section-title__wrapper {
	margin: 0 auto 40px auto;
	text-align: center;

	.section-title {
		font-size: $font-size__subtitle;
		font-weight: 600;
	}

	.section-subtitle {
		font-family: $font-subtitle;
		font-size: $font-size__description;
		font-style: italic;
		color: grey;
	}
}

/* HEADER */
header {
	height: 60vh;
	width: 100vw;
	background-image: url(https://cdn.shopify.com/s/files/1/0020/4547/6915/files/vapium-lite-landing-page-1427x803_2048x.jpg?v=1538762971);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

/* NAV */

.navigation {
	color: $color-light;
	font-size: $font-size__description;

	.nav-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		height: 10vh;

		.nav-left {
			padding: 30px 0 20px 200px;
			font-family: $font-logo;
			font-size: 20px;
			color: $color-cta;
		}

		.nav-right {
			padding: 30px 140px 20px 0;

			.nav-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;

				.nav-list__link {
					margin-right: 20px;
					list-style: none;

					a {
						text-decoration: none;
						color: $color-light;
						-webkit-transition: 0.3s all;
						transition: 0.3s all;

						&:hover {
							color: $color-cta;
						}
					}
				}
			}
		}
	}
}

/* HERO */

.hero {
	height: 60vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin-top: -10vh;
	color: $color-light;
	padding-top: 60px;

	.hero-subtitle {
		font-weight: 300;
		font-size: $font-size__subtitle;
		font-family: $font-subtitle;
		font-style: italic;
		margin-bottom: 15px;
	}

	.hero-title {
		font-size: $font-size__title;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.hero-btn {
		display: inline-block;
		padding: 7px 24px;
		background: $color-cta;
		color: #fff;
		border-radius: 3px;
		text-decoration: none;
		font-weight: 500;
		border: none;
		-webkit-transition: 0.5s all;
		transition: all 0.3s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

/* SERVICES */

.tab-wrapper {
	display: flex;

	.tab {
		width: 33%;

		.tab-icon__wrapper {
			margin: 20px auto;
			height: 60px;
			width: 60px;
			line-height: 60px;
			border: 2px solid $color-cta;
			border-radius: 50%;

			.fas {
				color: $color-cta;
				font-size: 28px;
				height: 60px;
				width: 60px;
				text-align: center;
			}
		}

		.tab-description {
			bottom: 0;
			text-align: center;

			.tab-title {
				font-size: $font-size__description;
				font-weight: 600;
				margin-top: 10px;
			}

			.tab-description {
				font-family: $font-subtitle;
				font-size: 11px;
				margin: 10px 20px;
				// font-style: italic;
				color: grey;
			}
		}
	}
}

/* OUR PORTFOLIO */

.portfolio {
	background: $color-light;

	.tab-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.tab-portfolio {
			width: 270px;
			margin: 1% 0 1% 0;
			margin: 20px;
			background: white;

			.tab-img__wrapper {
				width: 100%;
				height: 270px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.tab-description {
				bottom: 0;
				text-align: center;

				.tab-title {
					font-size: $font-size__description;
					font-weight: 600;
					margin-top: 20px;
					line-height: 15px;
				}

				.tab-description {
					font-family: $font-subtitle;
					font-size: 11px;
					margin: 0 20px 20px 20px;
					font-style: italic;
					color: grey;
				}
			}
		}
	}
}

/* FOOTER */

footer {
	margin: 15px 0;

	.footer-container {
		display: flex;

		.copyright {
			color: grey;
			font-size: 11px;
			margin: auto 180px auto 0;
		}

		.social-wrapper {
			.social-list__ul {
				display: inline-block;
				list-style-type: none;
				padding: 0;
				margin: auto;

				.footer-social__li {
					display: inline-block;
					font-size: 0;
					background: $color-main;
					border-radius: 50%;
					text-align: center;
					margin: 20px 5px;

					i {
						font-size: 15px;
						color: #ffffff;
						text-decoration: none;
						width: 30px;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}
	}
}

/*# sourceMappingURL=style.css.map */
